html,body {
	height: 100% !important;
	min-height: 100% !important;
}

#doc3 {
	margin: auto;
}

#doc3 {
	height: auto !important;
	height: 100% !important;
	min-height: 100% !important;
}

#bd {
	height: auto !important;
	height: 92% !important;
	min-height: 92% !important;
}

#yui-b {
	height: auto !important;
	height: 100% !important;
	min-height: 100% !important;
}

#hd {
	
}
/*
#ft {
	border-color: #c0c0c0;
	border-style: solid;
	border-top-width: 1px;
	border-width: 0px;
	height: auto !important;
	height: 4% !important;
	min-height: 4% !important;
	margin-bottom:-40px;
	z-index: -10;
}
*/